{
  "SmtpClientConfig": {
    "FromAddr": "__SMTP_FROM_ADDR__",
    "FromAddrPass": "__SMTP_FROM_PASS__",
    "ToAddrList": [ "__SMTP_TO_ADDR__" ]
  },
  "Admin": {
    "password": "__ADMIN_INIT_PASSWORD__"
  },
  "ConnectionStrings": {
    "ConnectionString": "__DB_CONNECTION_STRING__"
  },
  "JWTTokenOptions": {
    "Audience": "__JWT_AUDIENCE__",
    "Issuer": "__JWT_ISSUER__",
    "SecurityKey": "__JWT_SECURITY_KEY__"
  }
}
